#jeu{
    width:900px;
    height:750px;
    background-color: brown;
    border:1px solid #555;
    margin: 50px auto;
    box-shadow: 3px 8px 3px #bbb;
    padding:10px;
    /* overflow: auto; */
    flex-wrap: wrap;

}

#jeu div{
    width:600px;
    margin:auto;
    clear: both;
    flex-wrap: wrap;
}
#jeu button{
    width: 100px;
    height: 100px;
    margin: 50px;
    float: left;
    font-weight: bold ;
    font-size: 2.5em;
    flex-wrap: wrap;
}
#gameStatus{
    text-align: center;
    font-size: 3em;
    color: white;
    padding:30px 10px;
}